<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

	<style>
		.scroll::-webkit-scrollbar {
			width: 8px;
		}

		/* Track */
		.scroll::-webkit-scrollbar-track {
			-webkit-border-radius: 8px;
			border-radius: 8px;
		}

		/* Handle */
		.scroll::-webkit-scrollbar-thumb {
			-webkit-border-radius: 8px;
			border-radius: 8px;
			background: white;
			-webkit-box-shadow: inset 0 0 6px @accent-color;
		}

		.scroll::-webkit-scrollbar-thumb:window-inactive {
			background: white;
		}
	</style>

	<link rel="stylesheet" href="/angular-material/angular-material.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link href="/dist/css/style.css" rel="stylesheet">

	<script src="/socket.io-client/dist/socket.io.js"></script>
	<script src="/angular/angular.js"></script>
	<script src="/angular-aria/angular-aria.js"></script>
	<script src="/angular-animate/angular-animate.js"></script>
	<script src="/angular-material/angular-material.js"></script>
	<script src="/jquery/dist/jquery.js"></script>
	<script src="/dist/js/app.js"></script>
</head>

<body style="background-color: #A9A9A9;" ng-app="inicializador" ng-controller="inicializadorServidorModbus">

	<md-toolbar style="background: #2F4F4F;">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings">
				<i class="material-icons">menu</i>
			</md-button>
			<h2>
				<span>Servidor/Cliente Modbus</span>
			</h2>
			<span flex></span>
			<md-switch class="md-warn" ng-model="controleLigamentoServidorModbus" aria-label="Switch">
			</md-switch>
			<md-button class="md-icon-button" aria-label="Settings">
				<i class="material-icons">build</i>
			</md-button>
		</div>
	</md-toolbar>

	<div layout="row" style="height:87%;" layout-align="center" layout-margin ng-cloak>

		<md-whiteframe class="md-whiteframe-2dp" style="width:60%;">
			<md-toolbar style="background-color: #2F4F4F;">
				<div class="md-toolbar-tools">
					<h3>
						<span>Logs</span>
					</h3>
					<span flex></span>
					<md-button ng-click="limparLog()" class="md-icon-button md-warn" aria-label="Settings">
						<i class="material-icons">delete</i>
						<md-tooltip md-direction="top" md-delay="500">
							Limpar
						</md-tooltip>
					</md-button>
				</div>
			</md-toolbar>
			<md-content class="logs scroll" style="height:88.5%; background: black;">
			</md-content>

		</md-whiteframe>
	</div>

</body>
</html>
