
.scroll::-webkit-scrollbar {
	width: 8px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: white;
	-webkit-box-shadow: inset 0 0 6px white;
}

.scroll::-webkit-scrollbar-thumb:window-inactive {
	background: white;
}
